//output:index.html
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title Style EDTeam
        
    body
    #heart.heart
        i.fas.fa-heart#explosion
    script(src="test.js")
    script(src="https://kit.fontawesome.com/2c36e9b7b1.js")